
.wrapper_block_all_models{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.7%;
}

.block_all_models{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modelcard{
    width: 32.1%;
    border-radius: 20px;
    margin-top: 1em;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.center_margin{
    margin-left: 1%;
    margin-right: 1%;
}

.model_title{
    font-weight: bold;
    margin-top: 0;
}

.interpoint{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.interpoint_text{
    font-weight: 600;
    width: 32.1%;
}

